* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    border: 0;
    color: black;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #d4d4d4;
    /* background-image: url(../images/bg-lol.jpeg); */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px 40px 20px 40px;
    background-color: #fff;
    border-radius: 8px;
    border: rgb(206, 201, 201) solid 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.item-input {
    margin-top: 20px;
    border-radius: 4px;
    padding: 2px 0 0 0;
    position: relative;
}

label {
    position: absolute;
    top: 30px;
    left: 8px;
    transition: top .3s, font-size .3s;
    display: block;
    padding-left: 8px;
    text-align: left;
    font-weight: 900;
    color: #444549;
    font-size: 10px;
    text-transform: uppercase;
}

input:focus + label, input:not(:placeholder-shown) + label {
    top: 10px;
    font-size: 8px;
}

input {
    width: 100%;
    padding: 8px;
    color: #141313;
    font-weight: 700;
    font-size: 20px;
    border-radius: 4px;
    background-color: #efefef;
    height: 50px;
    letter-spacing: .4px;
}

input:hover {
    background-color: #e4e4e4;
}

input.FF {
    border-color: #1f2333;
}

#button-lol-sign-in {
    background-color: #d43234;
    width: 3.8rem;
    height: 3.5rem;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
}
#button-lol-sign-in i {
    color: #fff;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#button-lol-sign-in:hover {
    background-color: #b62b2e;
}

.imagens {
    display: flex;
    justify-content: center;
}

.imagens .itemImage {
    max-width: 100%;
    margin-top: 20px;
    display: none;
    margin: 15px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    border-radius: 4px;
    border: rgb(168, 141, 82) solid;
}

.imagens .itemImage:hover {
    transform: scale(1.1);
}

.buy {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px 40px 20px 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.edit-button {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.delete-button {
    display: none;
}

.buy-itens, .sell-itens {
    border: #b4965a solid 3px;
    background-color: #20242a;
    color: #9f906e;
    text-transform: uppercase;
    padding: 10px 15px;
    font-family: 'Roboto', serif;
    font-size: 15px;
    font-weight: 900;
    width: 100px;
    height: 35px;
    cursor: pointer;
    line-height: 0;
    box-shadow: #25282c 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* comprar #523e1f */
}

.sell-itens {
    background-color: #513821;
    box-shadow: #513821 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: #c2baa8;

}

.selling-mode .delete-icon {
    display: none;
}
